* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 17px;
}

.c3 {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.c3 img {vertical-align: middle;}

.c3 .content {
  position: absolute;
  bottom: 0;
  /*background: rgb(0, 0, 0);  Fallback color */
   /*background: rgba(0, 0, 0, 0.5); Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}